:root {
    --color-main-1: #82a0aa;
    --color-main-2: #7792a7;
    --color-main-3: #7582a0;
    --color-main-4: #7b7193;
    --color-main-5: #825f7f;
    --color-main-6: #854d64;

    --color-button-1: #a72d2d;
    --color-button-2: #b9888c;
    --color-button-4: #6eb96e;
    --color-button-5: #4fb14f;
}
