* {
  font-family: 'Noto Sans KR', sans-serif;
}
:root {
  --color-main-1: #82a0aa;
  --color-main-2: #7792a7;
  --color-main-3: #7582a0;
  --color-main-4: #7b7193;
  --color-main-5: #825f7f;
  --color-main-6: #854d64;

  --color-button-1: #a72d2d;
  --color-button-2: #b9888c;
  --color-button-3: #6eb96e;
  --color-button-4: #4fb14f;

  --color-primary: #e8eef4;
  --color-primary-shadow: #cad5e0;
}

body {
  scroll-behavior: smooth;
}

/* index.html */

.landing {
  position: relative;
  background-color: none;
  height: 70vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.landing video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

.landing h1 {
  font-size: 64px;
  position: absolute;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0 9px 0;
  font-weight: 700;
}

.landing-p-tag-text {
  position: absolute;
  top: 60%;
  margin-bottom: 2px;
}

.landing a {
  position: absolute;
  padding: 15px 50px;
  bottom: 0%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: #e8eef4; */
  height: 30vh;
  bottom: 0;
}

/* test.html */

.header {
  height: 40vh;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header h1 {
  font-size: 64px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0 9px 0;
  font-weight: 700;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-primary); */
  color: var(--color-main-4);
}

.questions .question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.q-number {
  position: absolute;
  font-size: 48px;
  color: rgb(255, 255, 255);
  top: 5%;
  left: -10%;
  font-weight: 700;
}

.question-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70vw;
  height: 65vh;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-main-3);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px var(--color-primary-shadow);
}

.question-box img {
  margin-top: 50px;
  width: 80%;
}

.question p {
  margin-top: 5%;
  width: 75%;
}

.btn-group {
  height: 7vh;
  margin-top: 20px;
  display: flex;
  width: 70vw;
  max-width: 600px;
  justify-content: space-between;
  background: linear-gradient(to right, var(--color-main-2), var(--color-main-5));
  border-radius: 10px;
}

.btn-group .btn {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease-out;
}

input[type='radio'] {
  left: -999em;
  position: absolute;
}

input:checked + .btn {
  font-size: 24px;
  font-weight: 800;
  background-color: var(--color-button-2);
}

.btn-group .btn:hover {
  background-color: var(--color-button-2);
  font-weight: 1000;
}

.section-result-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-result {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-width: 600px;
  width: 80vw;
  height: 10vh;
  background-color: white;
  border: 2px solid var(--color-main-3);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px var(--color-primary-shadow);
  padding: 50px 0;
}

#display {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  color: black;
  text-align: center;
  font-size: 42px;
  line-height: 168px;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 2px;
  transition: top ease-in-out 5s;
  align-items: center;
  justify-content: center;
}

#list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
}

.section-result p {
  font-size: 36px;
  font-weight: 800;
  text-shadow: 5px 5px 2px var(--color-primary-shadow);
  color: var(--color-main-4);
}

.section-result img {
  width: 80%;
  max-width: 500px;
}

.button {
  margin: 50px 0;
  text-decoration-line: none;
  padding: 25px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  background-color: var(--color-button-2);
  border-radius: 15px;
  transition: all 0.3s;
}

.button:hover {
  background-color: white;
  color: var(--color-button-2);
}

/* ad */

.kakao-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
}

@media only screen and (max-width: 750px) {
  .header h1 {
    font-size: 48px;
  }
  .question-box {
    height: 55vh;
  }
  .btn-group {
    width: 80vw;
  }
  #display {
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .landing h1 {
    font-size: 48px;
  }
  .question-box {
    height: 45vh;
  }
  .header h1 {
    font-size: 38px;
  }
  .q-number {
    font-size: 36px;
    top: 2%;
  }
  .btn-group {
    width: 80vw;
  }
  .btn-group .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .header h1 {
    font-size: 30px;
  }
  .landing h1 {
    font-size: 36px;
  }

  .questions .question {
    margin: 25px 0;
  }

  .question-box {
    height: 40vh;
  }

  .question-box img {
    margin-top: 20px;
  }

  .btn-group .btn {
    font-size: 12px;
  }

  .btn-group {
    width: 90vw;
  }

  input:checked + .btn {
    font-size: 16px;
  }

  #display {
    font-size: 26px;
  }
  .q-number {
    top: 0%;
    left: 2%;
  }

  .section-result {
    width: 80vw;
  }
}

/* Animation background */
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}

.background {
  background: linear-gradient(132deg, #e47f8db4, #9268db, #6872cc);
  animation: Gradient 9s ease infinite;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  background-size: 1800% 1800%;
}

.cube {
  z-index: -1;
  position: absolute;
  top: 70vh;
  left: 65vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: rgb(25, 0, 255);
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
